*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: black;
    color: white;
    text-align: center;
}
/* google font open sans */
/* html {
    font-family: 'Open Sans', sans-serif;
} */

header {
    padding: 2rem;
    font-size: 2rem;
}

#cards-container {
    padding: 1rem;
    max-width: 500px;
    margin: auto;
}

.card {
    padding: 2rem 0;
    margin: 1rem auto;
    line-height: 2rem;
    border-top: 3px solid white;
}

.card .fullName {
    font-size: 2rem;
}

.card .role {
    font-size: 1.2rem;
    font-style: italic;
}

.card-img img {
    width: 100%;
    max-width: 400px;
}

@media all and (min-width: 768px) {

    header {
        font-size: 3rem ;
    }

    #cards-container {
        max-width: 90%;
    }

    .card > * {
        display: inline-block;
        width: 40%;
        vertical-align: middle;
        line-height: 5rem;
    }

    .card-text {
        padding: 1rem;
    }
    .card .fullName {
        font-size: 2.5rem;
    }
    
    .card .role {
        font-size: 1.5rem;
        font-style: italic;
        color: lightgray;
    }
}

@media all and (min-width: 992px) {
    #cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 3rem;
    }
    .card {
        margin: 1rem;
        width: calc(100% / 2 - 2rem);
        border-top: none;
    }
    .card > * {
        display: block;
        width: unset;
    }

    .card-text {
        line-height: 2.5rem;
        border-bottom: 3px solid white;
    }
    
}

@media all and (min-width: 1200px){
    #cards-container {
        max-width: 1400px;
    }
    .card {
        width: calc(100% / 3 - 2rem);
    }
}